<header>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 p-flex p-flex-align-center p-flex-jc-sb">
                <ul>
                    <li class="p-hamburger">
                        <span></span>
                        <span></span>
                        <span></span>
                    </li>
                    
                </ul>
                <ul>
                    <li>
                        <a href="#" [routerLink]="[ '/']" [routerLinkActive]="['is-active']">Home</a>
                    </li>
                    <li>
                        <a href="#" [routerLink]="[ '/Work']">Work</a>
                    </li>
                    <li>
                        <a href="#" [routerLink]="[ '/Testimonies']">Testimonies</a>
                    </li>
                    <li>
                        <a href="#" [routerLink]="[ '/Contact']">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>
